.product {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: lightcyan;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.price {
    padding: 3.23259px 8.62025px;
    gap: 3.23px;
    background: #FFCB45;
    border-radius: 5.38766px;
    font-size: 18px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}